# Dataset folders
dataset/
datasets/
data/
sample/

# Retinanet outputs / logs / checkpoints
outputs_retinanet/
others/
*.log
*.pth
*.pt

# Temporary & cache
__pycache__/
*.pyc

# VSCode / IDE
.vscode/
.idea/

# Images (prevent accidentally adding Kaggle dataset JPGs)
*.jpg
*.jpeg
*.png

# Scripts backup folder
25T39517-proj/
